In [2]:
#Library importing
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [3]:
#Webscraping
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')
article = soup.find('table', class_='wikitable sortable')

In [6]:
#Creating individual column lists for the dataframe
codes_list=[]
borough_list=[]
neighborhood_list=[]
i=1
for tag in soup.table.find_all('td'):
    if i == 1:
        codes_list.append(tag.text)
    if i == 2:
        borough_list.append(tag.text)
    if i == 3: 
        neighborhood_list.append(tag.text)
    i = i+1
    if i==4:
        i=1

The next step is to create the DataFrame.

In [15]:
df = pd.DataFrame(data = codes_list, columns = ['Postal Code'])
df['Borough'] = borough_list
df['Neighborhood'] = neighborhood_list

We clean the DataFrame to get rid of the 'Not assigned' Boroughs as requested in the project. Then we get rid of the extra '\n' value that was on each row for the Neighborhood column.

In [27]:
df = df[~df['Borough'].isin(['Not assigned'])]
df['Neighborhood'] = df['Neighborhood'].str.split('\n', n=1, expand=True)
df.head(12)

   Postal Code           Borough      Neighborhood
2          M3A        North York         Parkwoods
3          M4A        North York  Victoria Village
4          M5A  Downtown Toronto      Harbourfront
5          M5A  Downtown Toronto       Regent Park
6          M6A        North York  Lawrence Heights
7          M6A        North York    Lawrence Manor
8          M7A      Queen's Park      Not assigned
10         M9A         Etobicoke  Islington Avenue
11         M1B       Scarborough             Rouge
12         M1B       Scarborough           Malvern
14         M3B        North York   Don Mills North
15         M4B         East York  Woodbine Gardens

In [28]:
df.shape

(212, 3)

In [31]:
df_latlong = pd.read_csv('Geospatial_Coordinates.csv')
df_latlong.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [32]:
df.join(df_latlong.set_index('Postal Code'), on='Postal Code')

SyntaxError: invalid syntax (<ipython-input-32-07b7ede8a04a>, line 1)